body{
    
    background-color: beige;
    margin: 20px;
    color: chocolate;
}

.bdy{
    display: flex;
    justify-content: space-around;
}

input{
    border: none;
    background-color: beige;
    box-shadow: 0px 0px 3px black;
}
.writeup{
    width: 50%;
    border: 2px solid chocolate;
    padding: 20px;
    box-shadow: 0px 0px 3px black;
    border-radius: 10px;
    margin-right: 5px;
}

#caltype{
    border: none;
    background-color: beige;
    color: inherit;
    cursor: pointer;
}

#caltype:focus{
    border-bottom: 3px solid chocolate;
}

#caltype:hover{
    border-bottom: 3px solid chocolate;
}



.calculator{
    width: 50%;
    border: 2px solid chocolate;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 3px black;
    font-size: x-large;
    border-radius: 10px;
    margin-left: 5px;
}


#computebtn{
    border: none;
    padding: 10px 30px;
    background-color: chocolate;
    color: beige;
    box-shadow: 0px 0px 3px black;
}

a{
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width:900px) {
    .bdy{
        display: block;   
    }

    .writeup{
        margin-bottom: 50px;
        width: 80%;
    }
    .calculator{
        width: 80%;
    }
}
@media screen and (max-width:250px) {
    input{
        width: 50vw;
    }
}